@model IEnumerable<AdvocaciaPPFinal.Models.Estagiario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Area de Estagiários</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-6">
        <h3>
            Estagiários Cadastrados
        </h3>
    </div>
    <div class="col-md-6">
        <form asp-controller="Estagiarios" asp-action="Index">
            <p>
                <select method="get" name="SearchOption">
                    <option value="Nome">Nome</option>
                    <option value="CPF">CPF</option>
                    <option value="Responsavel">Responsável</option>
                </select>
                <b>Title: </b> <input type="text" name="SearchString" method="get">
                <input class="btn btn-dark" type="submit" value="Filter" />
            </p>
        </form>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Estagiario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF_Estagiario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento_Estagiario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Resonsavel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_Estagiario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF_Estagiario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento_Estagiario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_Resonsavel)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id_Estagiario">Edit</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id_Estagiario">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_Estagiario">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
