@model AdvocaciaPPFinal.Models.Livro

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Livro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Livro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero_Livro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero_Livro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor_Livro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor_Livro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editora_Livro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editora_Livro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano_Publicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano_Publicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status_Livro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status_Livro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Livro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
