@model IEnumerable<AdvocaciaPPFinal.Models.Livro>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Livraria</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-6">
        <h3>
            Livros Cadastrados
        </h3>
    </div>
    <div class="col-md-6">
        <form asp-controller="Livros" asp-action="Index">
            <p>
                <select method="get" name="SearchOption">
                    <option value="Nome">Nome</option>
                    <option value="Genero">Gênero</option>
                    <option value="Editora">Editora</option>
                    <option value="Autor">Autor</option>
                </select>
                <b>Title: </b> <input type="text" name="SearchString" method="get">
                <input class="btn btn-dark" type="submit" value="Filter" />
            </p>
        </form>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero_Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor_Livro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_Livro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_Livro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero_Livro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor_Livro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status_Livro)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id_Livro">Edit</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id_Livro">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_Livro">Delete</a>
                </td>
            </tr>
        }
        <a class="btn btn-secondary text-dark" asp-area="" asp-controller="Livros" asp-action="GerarRelatorio">Gerar Relatório</a>
    </tbody>
</table>
