@model AdvocaciaPPFinal.Models.Advogado

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Advogado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Advogado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Advogado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPF_Advogado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPF_Advogado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_de_nascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_de_nascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inscricao_Advogado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inscricao_Advogado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instituicao_Advogado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instituicao_Advogado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especializacao_Advogado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especializacao_Advogado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone_Advogado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone_Advogado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email_Advogado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email_Advogado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_casos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_casos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAdmissao_Advogado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAdmissao_Advogado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Advogado">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
