@model AdvocaciaPPFinal.Models.Emprestimo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Emprestimo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor_Emprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor_Emprestimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Emprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Emprestimo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Emprestimo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
