@model IEnumerable<AdvocaciaPPFinal.Models.Emprestimo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-6">
        <h3>
            Empréstimos Cadastrados
        </h3>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor_Emprestimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Emprestimo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor_Emprestimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_Emprestimo)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id_Emprestimo">Edit</a> |
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id_Emprestimo">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_Emprestimo">Delete</a>
                </td>
            </tr>
        }
        <a class="btn btn-secondary text-dark" asp-area="" asp-controller="Emprestimos" asp-action="GerarRelatorio">Gerar Relatório</a>
    </tbody>
</table>
