@model IEnumerable<AdvocaciaPPFinal.Models.Processo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAdvogado_Processo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente_Processo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_de_Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAdvogado_Processo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente_Processo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_de_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id_Processo">Edit</a> |
                <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id_Processo">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_Processo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
